In [15]:
import pandas as pd
import json
from IPython.display import display

In [16]:
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', None)

In [17]:
# Load JSON
with open("database.json", "r") as f:
    data = json.load(f)

# If it's a list of dicts:
df = pd.json_normalize(data)

# Save to CSV
df.to_csv("nbthermo.csv", index=False)
df = df[["Tm.nanoDSF.value", "Tm.DSF (SYPRO).value", "Tm.DSC.value", "Tm.Other.value", "Tm.Circular dichroism.value","Sequence.Aho.value"]]
df

,Tm.nanoDSF.value,Tm.DSF (SYPRO).value,Tm.DSC.value,Tm.Other.value,Tm.Circular dichroism.value,Sequence.Aho.value
0,NaN,NaN,None,NaN,67.5,EVQLQAS-GGGLVRPGGSLRLSCAASG-FTFSS-----YAMMWVRQ...
1,NaN,NaN,None,NaN,65.0,EVQLQAS-GGGLVRPGGSLRLSCAASG-FTFSS-----YAMMWVRQ...
2,NaN,NaN,None,NaN,62.0,EVQLQAS-GGGLVQAGGSLRLSCAASG-RTDST-----QHMAWFRQ...
3,NaN,NaN,None,NaN,62.0,EVQLQAS-GGGLVQAGGSLRLSCAASG-RTDST-----QHMAWFRQ...
4,NaN,NaN,None,NaN,70.0,DVQLQAS-GGGLVQAGGSLRLSCAASA-RTF-------YTMGWFRQ...
...,...,...,...,...,...,...
543,NaN,53.0,None,NaN,NaN,None
544,NaN,58.0,None,NaN,NaN,None
545,NaN,66.0,None,NaN,66.0,None
546,NaN,62.0,None,NaN,NaN,None
547,NaN,60.0,None,NaN,NaN,None

In [18]:
tm_cols = [
    "Tm.nanoDSF.value",
    "Tm.DSF (SYPRO).value",
    "Tm.DSC.value",
    "Tm.Other.value",
    "Tm.Circular dichroism.value"
]

# Collapse into one column
df["Tm"] = df[tm_cols].bfill(axis=1).iloc[:, 0]

/var/folders/83/05d_l9fn2q3916cmlh6jsskw0000gq/T/ipykernel_33785/3929215989.py:10: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Tm"] = df[tm_cols].bfill(axis=1).iloc[:, 0]

In [19]:
df = df.dropna(subset = ["Tm"])
cleaned = df[["Tm", "Sequence.Aho.value"]]
cleaned = cleaned.dropna()
cleaned['Sequence'] = df['Sequence.Aho.value'].str.replace('-', '', regex=False)
cleaned.drop(["Sequence.Aho.value"], inplace=True, axis=1)
cleaned

       Tm                                           Sequence
0    67.5  EVQLQASGGGLVRPGGSLRLSCAASGFTFSSYAMMWVRQAPGKGLE...
1    65.0  EVQLQASGGGLVRPGGSLRLSCAASGFTFSSYAMMWVRQAPGKGLE...
2    62.0  EVQLQASGGGLVQAGGSLRLSCAASGRTDSTQHMAWFRQAPGKERE...
3    62.0  EVQLQASGGGLVQAGGSLRLSCAASGRTDSTQHMAWFRQAPGKERE...
4    70.0  DVQLQASGGGLVQAGGSLRLSCAASARTFYTMGWFRQVLGKDREFV...
..    ...                                                ...
514  58.0  QVQLVESGGGLVQAGDSLRLSCAASGRTFSGYAMGWFRQAPGKERE...
515  60.0  QVQLVESGGGLVQAGDSLRLSCAASGRTFSGYAMGWFRQAPGKERE...
516  71.0  QVQLVESGGGLVQAGDSLRLSCAASGRTFSGYAMGWFRQAPGKELE...
517  71.0  QVQLVESGGGLVQAGDSLRLSCAASGRTFSDYAMGWFRQAPGKELE...
518  65.0  QLQLVESGGGLVQAGDSLRLSCAASGRTFSDYAMGWFRQAPGKELE...

[514 rows x 2 columns]

In [20]:
cleaned.to_csv("NbThermo_Cleaned.csv", index = False)